.content {
  width: 1000px;
  min-height: 700px;
  position: relative;
  left: calc((100% - 1000px) / 2);
  box-shadow: 0 1px 4px rgba(0, 0, 0, .3),
  -23px 0 20px -23px rgba(0, 0, 0, .8),
  23px 0 20px -23px rgba(0, 0, 0, .8),
  0 0 40px rgba(0, 0, 0, .1) inset;
  padding: 30px;
  text-align: center;

  h1 {
    width: 1000px;
    margin-bottom: 20px;
  }

  input {
    width: 50%;
    font-size: 1em;
  }

  label {
    display: block;
  }

  .bt {
    padding: 10px;
    border-radius: 20px;
    font-size: 1.2em;
    position: relative;
    background-color: #000000;
    margin-top: 20px;
    color: white;

    &:hover {
      cursor: pointer;
      background-color: #5e5e5e;
    }
  }
}