.mainImageSection {
  width: 100%;

  img {
    width: 100%;
  }

  .headline {
    text-align: center;
    animation-name: fromBottomToTop;
    animation-duration: 1s;
    position: absolute;
    font-size: 500%;
    font-family: FuckingFont, sans-serif;
    left: 25%;
    top: 25%;
    right: 25%;
    color: #090909;
    text-shadow: 4px 4px 5px #ff2a34;
  }

  .openDatabase {
    text-align: center;
    position: absolute;
    font-size: 300%;
    font-family: FuckingFont, sans-serif;
    left: 25%;
    top: 39%;
    right: 25%;
    color: #090909;
    text-shadow: 4px 4px 5px #67ff0c;
  }

  .description {
    text-align: center;
    position: absolute;
    font-size: 160%;
    font-family: FuckingFont, sans-serif;
    left: 25%;
    top: 60%;
    right: 25%;
    color: #090909;
    text-shadow: 4px 4px 5px #5a70ff;
  }
}

@keyframes fromBottomToTop {
  from {
    color: black;
    transform: scale(0);
    top: 60%;
    opacity: 0;
  }

  to {
    color: #090909;
    opacity: .7;
    top: 25%;
    transform: scale(1);
  }

}